/KumpulaBiershop/target/
/LoginEasyBv1/target/
/MockitoDemo/target/
/LyyrakorttiMockito/target/
/Verkkokauppa4/target/
/TyhjaProjekti/target/
/Laskin/dist/
/IntJoukkoSovellus/target/
/Tennis/dist/
/QueryLanguage1/target/